<!DOCTYPE html>
<html>
<head>
  <title>CCA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fuild">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CCA</a>
        </div>
        <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Cells</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      </div>
    </nav>

  <h1>National Institute of Technology,Durgapur<br>
<div id=cca>CCA:Center of Cognitive Activities</div>
  </h1>
  <h2>CCA Cells </h2>
  <ul>
    {% for cell in cells %}
    <li><a href="#">{{cell.cell_name}}</a></li>
    {% endfor %}
  </ul>
</body>
</html>
